/* стандартні значення по замовчуванню */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* < !-- header --> */
.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-nav-link {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-list-item {
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404BBF;
}

/* < !-- main section-1 --> */
.main-section {
    background-color: #2E2F42;
}

.main-section-name {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.button {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* < !-- main - section-2 --> */
.about-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* < !-- main - section-3 --> */
.our-team {
    background-color: #F4F4FD;
}

.our-team-name {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.our-team-photo {
    background-color: #FFFFFF;
}

.our-team-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-text {
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* < !--main - section-4--> */
.our-portfolio-name {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

.our-portfolio-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-text {
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* < !-- footer --> */
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-studio {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer {
    background: #2E2F42;
}